/*large screen*/
@media only screen and (min-width: 993px){
	.lfh{
		height: 100%;
	}
	.lhw {
	    width: 50% !important;
	    margin: 0 auto;
	}
	lfw{
		width: 100%;
	}
	div#learnmore {
		width: 40%;
		height: 50%;
	}
	.logo{ 
		width: 400px;
		margin-top: -11vh;
	}
	.nomination-page-1, {
		background-size: 300% 125% !important;
		background-repeat: no-repeat !important;
		background-position: top !important;
	}
	.curtain-bg {
		background-size: 190% 171% !important;
		background-repeat: no-repeat !important;
		background-position: top !important;
	}
	h5 {
		font-size: 2.28rem !important;
		line-height: 110% !important;
		margin: 1.52rem 0 .912rem 0 !important;
	}
	.svh{
		width: 21rem;
	}	
	.row .col.offset-l2 {
		margin: 0 auto !important;
		width: 21rem !important;
	}
	.tnc-container{
		height: 85%;
		width: 50%;
		margin: 0 auto;
		overflow: scroll;
	}
	#tnc a.modal-close.left {
		padding: 11px !important;
		font-size: 40px !important;
	}
	p.more-info {
		font-family: gotham-medium;
		color: #D8D20E;
		font-size: 10px;
		line-height: .7rem;
		margin: 0;
		padding-top: 3.2rem;
	}
}
/*medium to small screen*/
@media only screen and (max-width: 992px) {
	.shh {
	    height: 50%;
	}
	.shw{
		width: 50%
	}
	.nomination-page-2.shh .valign-wrapper {
	    display: block;
	}
	p.more-info {
		font-family: gotham-medium;
		color: #D8D20E;
		font-size: 7px;
		line-height: .7rem;
		margin: 0;
		padding-top: 1.2rem;
		padding-bottom: 1rem;
	}
}

/*medium screen only*/
@media only screen and (max-width: 992px) {
	.logo{ 
		width: 80%;
	}
}
/*small screen*/
@media only screen and (max-width: 600px) {
	.shw {
		width: 60%;
	}
	.logo{
		width: 100%;
	}
	.band-container h4{
		font-size: 1.5rem;
		line-height: 1.9rem;
	}
	h6{
		margin-top: 3px !important;
    	margin-bottom: -11px !important;
	}
	h5.nominate-title {
		font-size: 2rem;
	}
}

/*special small screen // for the logo*/
@media only screen and (max-width: 545px) {
}

/* iphone 4 */
@media (max-width: 320px) and (max-height: 480px) {
	.full-height{
		height: auto !important;
	}
	.band-container h4, .band-container h6 {
		font-size: 1.5rem;
		margin: -4px;
	}
	.logo{
		width: 100%;
	}
	.curtain-bg .lhw {
		margin-top: 50%;
		transform: translateY(-33%);
	}
}

/* iphone 5 */
@media (max-width: 320px) and (max-height: 568px) {
	.submit.input-field {
		margin-top: 0 !important;
	}
}

/*normal css*/

.main, body{
	background: #17B0C0;
}
body{
	min-width: 320px;
}

h4,h5,h6{
	font-family: bebas;
	color: #ffffff;
}
p{
	font-family: gotham-medium;
    font-size: 10px;
	color: #ffffff;
	font-weight: bold;
}
p.success{
    margin-top: -7px;
	margin-bottom: 1rem;
}
a{
	font-family: gotham-medium;
	color: #D8D20E;
	font-size: 10px;

}

.band-container {
	margin: 10px 0px;
	margin-top: 15px;
}
.band-container h4, .band-container h6 {
    margin: -6px;
}
.full-height {
    height: 100vh;
}
.row.full-height{
	margin-bottom: 0px;
}
.full-height-inner{
	height: 100%;
}
.full-width{
	width: 100%;
}
.half-width{
	width: 50%;
}
.padding{
	padding: 16px;
}
.center-container{
    margin-left: auto;
    margin-right: auto;
}
.nomination-page-1{
	background: url(/images/kv2.png);
    background-size: 300% 160%;
    background-position: top;
    background-repeat: no-repeat;
}
.curtain-bg{
	background: url(/images/kv2.png);
    background-size: cover;
    background-position: center
}
.nomination-page-1 p{
	margin-top: -24px;
}
.nomination-page-2{
	background: url(/images/big-red-bg-tile.jpg);
	background-size: 25%;
}
input{
	height: 36px;
    border-radius: 7px;
    padding: 2px 10px;
    border: none;
    background: #ffffff;
	width: 100%;
	font-family: gotham-medium;
    font-size: 10px;
    font-style: italic;
}
input:focus,div#learnmore:focus {
    outline: none;
}
.input-field {
	margin-top: 0;
}
.submit.input-field{
	margin-top: 1rem;
}
div#learnmore {
	border-radius: 10px;
	transform: translateY(-50%) !important;
}
#learnmore .modal-content {
    padding-top: 0px;
}
#learnmore.modal-fixed-footer .modal-footer {
    top: 0;
	position: initial;
	height: 40px;
}
.modal .modal-close {
}
.modal p {
    color: #000000;
    font-family: gotham-medium;
    font-size: 10px;
}
.modal h5{
	color:#eb3e29;
	margin-top: 2px;
}
.default-button, .default-button:hover {
    background: #D8D20E !important;
    border-radius: 30px;
	box-shadow: none;
	font-family: gotham-medium;
    font-size: 10px;
}
.suggestion {
	background: #fff;
    margin-top: 32px;
    display: none;
    position: absolute;
    width: calc(100% - 1.5rem);
    z-index: 1;
    max-height: 21vh;
	overflow: scroll;
	border-radius: 0px 0px 7px 7px;
}
.school-list {
    padding: 5px 10px;
    border-top: 1px solid #B3B3B3;
    cursor: pointer;
    font-family: gotham-medium;
    font-size: 10px;
    font-style: italic;
    color: #676767;
}
.soc-media-container img{
      width: 30px;
}
i.left {
    margin-right: 5px;
}
ol{
	font-size: 10px;
    font-family: gotham-medium;
}

.tnc span{
	font-size: 10px !important;
    font-family: gotham-medium;
    line-height: .9rem !important;
    color: #ffffff;
}

.tnc span::after{
	transform: scale(.9) !important;
	background-color: #D8D20E !important;
	border: 4px solid #ffffff !important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
	border: 2px solid #ffffff !important;
}
[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {
    border: 2px solid #ffffff;
}

[type="radio"]:not(:checked)+span:after {
    background-color: #ffffff !important;
}
a.tnc-text {
    color: #ffffff;
    text-decoration: underline;
}

div#tnc {
    top: 0 !important;
    width: 100%;
	min-height: 100% !important;
	background: none !important;
}
#tnc .modal-content {
	height: 100%;
	background: #000000b3;
}

#tnc .modal-footer {
    position: relative;
    background: #000000b3;
}
#tnc i.small {
    color: #fff;
}
#tnc .modal-content, #tnc p {
    color: #ffffff;
}
ol {
    -webkit-padding-start: 10px !important;
}
