/*large screen*/
@media only screen and (min-width: 1095) and (max-height: 624){
	.groupshot
}
@media only screen and (min-width: 993px){
	.col.s12.double-padding.force-center-align {
		margin-top: -13px !important;
	}
	.top-section, .bottom-section {
		min-height: 650px !important;
	}
	.header{
		/* margin-top: -100px; */
	}
	.lfh{
		height: 100%;
	}
	.lhw {
	    width: 50% !important;
	    margin: 0 auto;
	}
	lfw{
		width: 100%;
	}
	div#learnmore, div#subscribe {
		width: 40%;
		height: 50%;
	}
	.logo{ 
		/* width: 60%;
		margin-top: 6vh;
		max-width: 400px; */
		width: 65%;
		max-width: 400px;
		margin: auto;
	}
	.nomination-page-1, {
		background-size: 300% 125% !important;
		background-repeat: no-repeat !important;
		background-position: top !important;
	}
	h5.nominate-title {
		margin-top: 0 !important;
	}
	.curtain-bg {
		background-size: 190% 171% !important;
		background-repeat: no-repeat !important;
		background-position: top !important;
	}
	h5 {
		font-size: 2rem !important;
		line-height: 110% !important;
		margin: 1.52rem 0 .912rem 0 !important;
	}
	.svh{
		width: 21rem;
	}	
	.row .col.offset-l2 {
		margin: 0 auto !important;
		width: 21rem !important;
	}
	.tnc-container{
		height: 85%;
		width: 50%;
		margin: 0 auto;
		overflow: scroll;
	}
	#tnc a.modal-close.left {
		padding: 11px !important;
		font-size: 40px !important;
	}
	p.more-info {
		font-family: gotham-medium;
		color: #D8D20E;
		font-size: 10px;
		line-height: .7rem;
		margin: 0;
		padding-top: 3.2rem;
	}
	.top-section{
		height: 100vh !important;
	}
	.bottom-section{
		height: 100vh;
	}
	.bottom-section .svh{
		margin: 0 auto;
		width: 80%;
		margin-top: 16px;
	}
	.force-center-align{
		text-align: center !important;
	}
	.grid{
		width: 110px;
		height: 110px;
		margin: 8px;
	}
	.grid-container {
		max-height: 70vh;
		overflow: scroll;
	}

	.barcode-area{
		width: 50%;
	}
	.stage{
		height: 100%;
	}
	.school-page .counter {
		margin-top: -10px;
		position: relative;
	}

	.school-page .school-place {
		margin-top: 10px;
	}

	.groupshot {
		width: 68% !important;
		margin: 0 auto;
	}
	
}
/* medium only screen */
@media only screen and (min-width: 601px) and (max-width: 992px) and (orientation: landscape){
	.voting-page .top-section{
		min-height: 530px !important;
	}
}

@media only screen and (min-width: 779px) and (max-width: 992px){
	.groupshot img{
		max-width: 340px !important;
	}
}
/*medium to small screen*/
@media only screen and (max-width: 992px) {
	.shh {
	    height: 50%;
	}
	.shw{
		width: 50%;
		/* max-width: 240px; */
	}
	.nomination-page-2.shh .valign-wrapper {
	    display: block;
	}
	p.more-info {
		font-family: gotham-medium;
		color: #D8D20E;
		font-size: 7px;
		line-height: .7rem;
		margin: 0;
		padding-top: 1.2rem;
		padding-bottom: 1rem;
	}
	.svh{
		width: 100%;
	}
	.grid{
		width: 120px;
		height: 120px;
		margin: 16px;
	}

	.school-page .top-section {
		background-position: 63%;
	}
	.school-page .bottom-section {
		margin-top: -80vh;
		position: relative;
		height: 94vh;
	}
	.school-page .school-logo {
		position: absolute;
		top: -30px;
	}
	.school-page .school-place{
		text-align: right;
	}
	.school-page .school-name {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.stage{
		height: 30vh;
	}
	.school-top-details{
		margin-top: -13px;
	}
	.school-page .counter{
		margin-top: -10px;
		position: absolute;
		width: 100%;
	}
	
	.logo{ 
		width: 80%;
		max-width: 400px;
		margin: auto;
	}

	.l-more{
		margin-top: -10% !important;
	}

	.voting-page .top-section {
		max-height: 550px;
	}
}
/*small screen*/
@media only screen and (max-width: 600px) {
	.voting-page .top-section{
		min-height:470px;
	}
	.l-more {
		margin-top: -30% !important;
	}
	.shw {
		width: 60%;
	}
	.logo{
		width: 100%;
	}
	.band-container h4{
		font-size: 1.5rem;
		line-height: 1.9rem;
	}
	h6{
		margin-top: 3px !important;
    	margin-bottom: -11px !important;
	}
	h5.nominate-title {
		font-size: 1.5rem;
	}

	 .counter {
		position: absolute;
		margin-top: -10px;
		width: 100%;
	}
	.header{
		/* margin-top: -20vh; */
	}

	

}

@media only screen and (min-height: 480px) and(max-height: 560px) and (min-width: 481px) and (max-width: 992px){
	.groupshot{
		max-width: 300px !important;
	}
}

/*special small screen // for the logo*/
@media only screen and (max-width: 420px) {
	.counter-container {
		width: 290px;
	}
}

/* iphone 4 */
@media (max-width: 320px) and (max-height: 480px) {
	.full-height{
		height: auto !important;
	}
	.band-container h4, .band-container h6 {
		font-size: 1.5rem;
		margin: -4px;
	}
	.logo{
		width: 100%;
	}
	.curtain-bg .lhw {
		margin-top: 50%;
		transform: translateY(-33%);
	}

	.school-stage-view{
		background-size: 40% !important;
		background-position: center top !important;
	}
}

@media (max-height: 480px){
	.header{
		/* margin-top: -16vh */
	}
}

/* iphone 5 */
@media (max-width: 320px) and (max-height: 568px) {
	.submit.input-field {
		margin-top: 0 !important;
	}
	.grid{
		margin: 14px !important;
	}
}

/*normal css*/
.main, body{
	background: #17B0C0;
}
body{
	min-width: 320px;
}

h4,h5,h6{
	font-family: bebas;
	color: #ffffff;
}
.no-margin{
	margin: 0 !important;
}
.double-padding{
	padding: 16px 24px !important;
	
}
.b-c{
	background: url(/images/big-red-bg-tile.jpg);
    background-size: 25%;
}
p{
	font-family: gotham-medium;
    font-size: 10px;
	color: #ffffff;
	font-weight: bold;
}
p.success{
    margin-top: -7px;
	margin-bottom: 1rem;
}
a{
	font-family: gotham-medium;
	color: #D8D20E;
	font-size: 10px;

}

.band-container {
	margin: 10px 0px;
	margin-top: 15px;
}
.band-container h4, .band-container h6 {
    margin: -6px;
}
.full-height {
    height: 100vh;
}
.row.full-height{
	margin-bottom: 0px;
}
.full-height-inner{
	height: 100%;
}
.full-width{
	width: 100%;
}
.half-width{
	width: 50%;
}
.padding{
	padding: 16px;
}
.center-container{
    margin-left: auto;
    margin-right: auto;
}
.nomination-page-1{
	background: url(/images/kv2.png);
    background-size: 300% 160%;
    background-position: top;
    background-repeat: no-repeat;
}
.curtain-bg{
	background: url(/images/kv2.png);
    background-size: cover;
    background-position: center
}
.nomination-page-1 p, .top-section p{
	margin-top: -24px;
}
.nomination-page-2{
	background: url(/images/big-red-bg-tile.jpg);
	background-size: 25%;
}
input{
	height: 36px;
    border-radius: 7px;
    padding: 2px 10px;
    border: none;
    background: #ffffff;
	width: 100%;
	font-family: gotham-medium;
    font-size: 10px;
    font-style: italic;
}

#subscribe input{
	background: #EFEFEF;
}

input:focus,div#learnmore:focus, div#subscribe:focus {
    outline: none;
}
.input-field {
	margin-top: 0;
}
.submit.input-field{
	margin-top: 1rem;
}
div#learnmore, div#subscribe {
	border-radius: 10px;
	transform: translateY(-50%) !important;
}
#learnmore .modal-content, #subscribe .modal-content {
    padding-top: 0px;
}
#learnmore.modal-fixed-footer .modal-footer, #subscribe.modal-fixed-footer .modal-footer {
    top: 0;
	position: initial;
	height: 40px;
}
.modal .modal-close {
}
.modal p {
    color: #000000;
    font-family: gotham-medium;
    font-size: 10px;
}
.modal h5{
	color:#eb3e29;
	margin-top: 2px;
}
.default-button, .default-button:hover {
    background: #D8D20E !important;
    border-radius: 30px;
	box-shadow: none;
	font-family: gotham-medium;
    font-size: 10px;
}
.suggestion {
	background: #fff;
    margin-top: 32px;
    display: none;
    position: absolute;
    width: calc(100% - 1.5rem);
    z-index: 1;
    max-height: 21vh;
	overflow: scroll;
	border-radius: 0px 0px 7px 7px;
}
.school-list {
    padding: 5px 10px;
    border-top: 1px solid #B3B3B3;
    cursor: pointer;
    font-family: gotham-medium;
    font-size: 10px;
    font-style: italic;
    color: #676767;
}
.soc-media-container img{
	  width: 30px;
	  vertical-align: text-bottom;
}
i.left {
    margin-right: 5px;
}
ol{
	font-size: 10px;
    font-family: gotham-medium;
}

.tnc span{
	font-size: 10px !important;
    font-family: gotham-medium;
    line-height: .9rem !important;
    color: #ffffff;
}

.tnc span::after{
	transform: scale(.9) !important;
	background-color: #D8D20E !important;
	border: 4px solid #ffffff !important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
	border: 2px solid #ffffff !important;
}
[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {
    border: 2px solid #ffffff;
}

[type="radio"]:not(:checked)+span:after {
    background-color: #ffffff !important;
}
a.tnc-text {
    color: #ffffff;
    text-decoration: underline;
}

div#tnc {
    top: 0 !important;
    width: 100%;
	min-height: 100% !important;
	background: none !important;
}
#tnc .modal-content {
	height: 100%;
	background: #000000b3;
}

#tnc .modal-footer {
    position: relative;
    background: #000000b3;
}
#tnc i.small {
    color: #fff;
}
#tnc .modal-content, #tnc p {
    color: #ffffff;
}
ol {
    -webkit-padding-start: 10px !important;
}

/* top */
.top-section {
	height: 86vh;
	position: relative;
	margin: 0;


	background: url(/images/kv2.png);
    background-size: 300% 160%;
    background-position: top;
	background-repeat: no-repeat;
	
}
/* end of top */
/* bottom section */
.bottom-section{
	background: url(/images/big-red-bg-tile.jpg);
	background-size: 25%;
	margin-bottom: 0;
}
.school-page .bottom-section{
	background-size: 24%;
}
/* end of bottom section */

.bands {
    position: absolute;
    bottom: 0px;
    left: 0;
	width: 100%;
	text-align: center;
}

.groupshot {
    width: 80%;
    margin: 0 auto;
}

.groupshot img.responsive-img{
	vertical-align: bottom;
}

.counter-container {
    background: #ffffff;
	width: 220px;
	height: 21px;
    padding: 3px 12px;
    text-align: center;
    border-radius: 31px;
    font-family: gotham-medium;
    font-size: 10px;
    color: #EA341C;
	margin: 0 auto;
	text-transform: uppercase;
}
.main-row{
	margin-bottom: 0px;
}
.row.full-width.schools {
    margin: .75rem 0;
}

.voting-page .grid {
	display: inline-flex;
    background: #ffffff;
    border-radius: 10px;
    padding: 5px;
	box-shadow: 1px 1px 7px 2px #4242425c;
	position: relative;
	cursor: pointer;
}
.voting-page .school-logo {
    position: absolute;
    width: 25%;
    height: 25%;
    left: -10%;
    top: -10%;
    border-radius: 50%;
    background: #ffffff;
	box-shadow: -1px -1px 7px 3px #42424245;
	padding: 2px;
}
.voting-page .stage {
    width: 100%;
	height: 77%;
	background: url(/images/stage_thumb.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.voting-page .g-content {
	width: 100%;
	text-align: left;
}
.voting-page .school-name {
    color: #EA341C;
    font-family: gotham-medium;
    font-size: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.voting-page .school-place {
    font-family: gotham-medium;
    font-size: 8px;
    margin-top: -4px;
}

.school-top-section {
	background: #ffffff;
	height: 60%;
}
.school-top-section .row{
	margin: 0;
	position: relative;
}
.bar {
    height: 60px;
    position: absolute;
    bottom: 0;
	left: 0 !important;
	width: 100%;
	/* background: linear-gradient(#ffffffde, #ffffff, #ffffff); */
	background: url("/images/glow.png");
}

.bar .valign-wrapper{
	height: 100%;
	padding: 0 10px;
}

.bar-container {
    height: 25px;
	width: 100%;
	border-radius: 30px;
	background: #01878e;
}

.bar-progress {
	background: #17B0C0;
    height: 100%;
    width: 30%;
    border-radius: 30px;
    padding: 1px 7px;
	color: #fff;
	text-align: right;
}

.barcode-area {
    padding: 10px;
    padding-bottom: 0;
    background: #fff;
    margin-bottom: 10px;
}

.percent-container.absolute{
	position: absolute;
}
span.bar-prompt {
    font-size: 6px;
    font-family: gotham-light;
    margin-left: 5px;
    line-height: 6px;
	margin-top: 5px;
	text-align: left;
	display: inline-block;
}

.school-page .school-logo {
	border-radius: 50%;
    /*box-shadow: -1px -1px 7px 3px #42424245;*/
    width: 60px;
	height: 60px;
	/*background: #ffffff;*/
}
.school-top-container{
	height: 100%;
}

.school-page .school-place {
    font-family: gotham-medium;
    font-size: 10px;
    text-transform: uppercase;
}

.school-page .school-name {
    font-family: gotham-bold;
    font-size: 20px;
    line-height: 2rem;
	color: #EA341C;
	padding: 5px 0px;
}
.switch-button {
	font-family: gotham-bold;
	cursor: pointer;
	font-size: 10px;
	color: #D8D20E;
	position: absolute;
    bottom: 22px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.school-page .counter-container{
	box-shadow: -1px -1px 7px 0px #42424245;
}

.school-page .school-stage-view{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.stage-0{
	background: url(/images/stage-0.png);
}
.stage-1{
	background: url(/images/stage-1.png);
}
.stage-2{
	background: url(/images/stage-2.png);
}
.stage-3{
	background: url(/images/stage-3.png);
}
.stage-4{
	background: url(/images/stage-4.png);
}
.stage-5{
	background: url(/images/stage-5.png);
}
.stage-6{
	background: url(/images/stage-6.png);
}
.stage-7{
	background: url(/images/stage-7.png);
}
.stage-8{
	background: url(/images/stage-8.png);
}
.stage-9{
	background: url(/images/stage-9.png);
}
.stage-10{
	background: url(/images/stage-10.png);
}
.stage-11{
	background: url(/images/stage-11.png);
}
.stage-12{
	background: url(/images/stage-12.png);
}
.stage-13{
	background: url(/images/stage-13.png);
}
.stage-14{
	background: url(/images/stage-14.png);
}

.school-list-view{
	display:none;
    padding: 0 !important;
	overflow: scroll;
	text-align: center;
}

.mail-img{
	width: 20%;
}


/*pre launch css*/
.voting-page .school-logo{
	display: none;
}

.voting-page .stage{
	background-position: center !important;
	background-size: cover !important;
	height: 80% !important;
	width: 80% !important;
	margin: 0 auto;
}

.voting-page .school-place{
	display: none;
}

.voting-page .school-name {
    text-align: center;
    padding-top: 8px;
}

.barcode-area{
	margin: 0 auto;
	margin-bottom: 10px;
}

@media only screen and (max-width: 992px){
	.school-page .bottom-section {
	    margin-top: -86vh !important;
	    height: 100vh !important;
	}
	.school-page .school-logo {
	    position: inherit;
	}
	.school-page .school-name{
		text-align: left;
	    white-space: normal;
	    font-size: 1rem;
	    line-height: 1.2rem;
	}

	.pre-launch-stage{
		height: calc(100% - 120px);
	}

	.pre-launch-icon{
		height: calc(100% - 130px);
	}

	.counter-container {
		background: #ffffff;
		width: 270px;
		height: 30px;
		padding: 6px 12px;
		text-align: center;
		border-radius: 31px;
		font-family: gotham-medium;
		font-size: 13px;
		color: #EA341C;
		margin: 0 auto;
		text-transform: uppercase;
	}

	.counter {
		position: absolute;
		width: 100%;
		margin-top: -16px;
	}
}

@media only screen and (min-width: 420px) and (max-width: 992px) {
	.full-width.header{
		/* margin-top: -20vh; */
	}
	.groupshot {
		width: 45%;
	}
	.groupshot img{
		/* max-width: 442px; */
	}
}

@media only screen and (min-height: 480px) and (max-height: 680px){
	.groupshot img{
		/* max-width: 350px; */
	}

	.groupshot{
		max-width: 60%;
	}
}

@media only screen and (min-width: 993px){
	.school-page .school-name{
	    margin-left: 65px;
	    margin-top: -53px;
	    text-align: left;
	    line-height: 1.5rem;
	    font-size: 1.3rem;
	    padding-right: 50px;
	}

	.stage {
	    height: 90%;
	}

	.pre-launch-stage{
		margin-top: 5%;
		height: calc(100% - 100px);
	}

	.pre-launch-icon{
		margin-top: 5%;
		height: calc(100% - 120px);
	}
	
}

.back-button {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 30px;
    background: url(/images/back_button.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.pre-launch-icon {
    display: none;
    overflow: scroll;
    margin-bottom: 3%;
}

.pre-launch-stage img{
	height: 100%;
}

.header {
	height: 50%;
    display: flex;
    flex-direction: column;
}

.slide{
	display: none;
}

